<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="MyFile.css">
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>
<body>
	<h3 id = "home">Home page</h3>
	
	<h4>Meetings created by you</h4>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Time</th>
				<th>Duration</th>
				<th>Maximum participants</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:if="${meetingsCreated.empty}">
				<td bgcolor="white" colspan="5" align="center">No meetings created by you</td>
			</tr>
			<tr th:each="meeting : ${meetingsCreated}" bgcolor="lightgrey" align="center">
				<td><span th:text="${meeting.title}">Meeting's title</span></td>
				<td><span th:text="${meeting.date}">Meeting's date</span></td>
				<td><span th:text="${meeting.time}">Meeting's time</span></td>
				<td><span th:text="${meeting.duration}">Meeting's duration</span></td>
				<td><span th:text="${meeting.maxParticipant}">Meeting's maxParticipant</span></td>
				
			</tr>
		</tbody>
	</table>
	
	<h4>Meetings you have been invited to</h4>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Time</th>
				<th>Duration</th>
				<th>Maximum participants</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:if="${meetingsInvitedTo.empty}">
				<td bgcolor="white" colspan="5" align="center">No meetings you have been invited to</td>
			</tr>
			<tr th:each="meeting : ${meetingsInvitedTo}" bgcolor="lightgrey" align="center">
				<td><span th:text="${meeting.title}">Meeting's title</span></td>
				<td><span th:text="${meeting.date}">Meeting's date</span></td>
				<td><span th:text="${meeting.time}">Meeting's time</span></td>
				<td><span th:text="${meeting.duration}">Meeting's duration</span></td>
				<td><span th:text="${meeting.maxParticipant}">Meeting's maxParticipant</span></td>
				
			</tr>
		</tbody>
	</table>
	
	<h4>Create a meeting</h4>

	<form method="post" th:action="@{/SaveMeeting}">
		<br> <input name="title" type="text" required placeholder = "Title">
		<br> <input name="date" type="date" th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required placeholder = "Date"> 
		<br> <input name="time" type="time" required placeholder = "Time">
		<br> <input name="duration" type="number" min="1" required placeholder = "Duration">
		<br> <input name="maxPart" type="number" min="1" required placeholder = "Max participant">
		<br> <input type="submit" value="create">
	</form>

	<p>
		<a href="loginPage.html" th:href="@{/Logout}"> Back to the Login
			Page </a>
	</p>

</body>
</html>